{
    "/v1": {
        "OpenAI": {
            "api_endpoint": "https://api.openai.com/v1",
            "api_key": "some-api-key"
        },
        "Some other OpenAI-compatible provider": {
            "api_endpoint": "https://some/api",
            "api_key": "some-api-key",
            "timeout": 20000
        },
    },
    "/forced-deepseek": {
        "DeepSeek V3": {
            "api_endpoint": "https://api.deepseek.com",
            "api_key": "some-api-key",
            "model": "deepseek-chat",
            "timeout": 30000
        },
    }
}